/*
/// ---
/// title: Buttons
/// section: Controls
/// ---
///
/// User input and control
///
/// <section class="styleguide_section">
/// <div class="container">
///   <button>learn more</button>
///   <i class="svg_icon comment-bubbles ic_button">hello</i>
/// </div>
/// </section>
///
*/


$button_bg: $theme_primary;
$button_color: $white;

// DEFAULT BUTTON
@mixin button ($bgcolor: null, $testcolor: inheirt) {
  border: 0;
  padding: 1em;
  background: $bgcolor;
  color: $testcolor;
  cursor: pointer;
  font-size: 1.3em;
  border-radius: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: color 200ms linear;
}


@mixin button_hover ( $litghterOrDarker:false ) {
  $bgcolor: inherit;

  @if $litghterOrDarker == "lighter" {
    background-color: rgba(255, 255, 255, .1);
  }

  @if $litghterOrDarker == "darker" {
    background-color: rgba(255, 255, 255, .1);
  }

  box-shadow: 2px 2px 2px rgb(144, 144, 144);
  outline: 1px solid #e88a0b;
  color: rgb(43, 43, 43);
}

@mixin icon_button () {
  border: 0;
  cursor: pointer;
  font-size: 1.3em;
  background-color: transparent;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: color 200ms linear, background-color 200ms ease-in;
}

/// SCOPED BUTTON
button {
  @include button($button_bg)

  &:hover {
    @include button_hover ()

    box-shadow: 0 0 2px rgb(144, 144, 144);
    outline: 1px solid #f79c21;
    color: #f5f5f5;
  }
}

.ic_button {
  @include icon_button();
  &:hover {
    box-shadow: 0 0 2px rgb(144, 144, 144);
    outline: 1px solid #f79c21;
    color: #f5f5f5;
  }
}

// ACCESSORY BUTTON CLASS
// .btn { //   @extend %button; //
//   &:hover { //     @extend %button-hover; //   }
// }
