
@mixin card ($padding:1em, $background:initial, $color:inherit) {
  @include z_depth("z2");

  margin: .5em auto;
  padding: $padding;
  background-color: $background;
  color: $color;
}


/*
///---
/// title: content cards
/// section: components
///
/// ---
/// <div class="simple_card">
///   <h2>Basic Content Card</h2>
/// </div>
/// ---
///
///
/// ## Content Card
///
/// ---
/// <div class="simple_card">
///   <h2>Basic Content Card</h2>
///   <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
///    written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
///    "Lorem ipsum dolor sit amet.."</p>
/// </div>
/// ---
///
*/


// SIMPLE CONTENT CARD
.simple_card {
  @include card(1em, initial);

  display: inline-block;
}


/*
/// title: Title card
/// section: components
///
/// ---
/// <div class="title_card">
///   <h2 class="title_card__title">Basic Title Card</h2>
/// </div>
///
/// ```
///
*/


.title_card {
  @include card(0, $grey_80);

  color: $white;
  display: block;
  font-weight: 400;
  position: relative;
  font-size: 1.44em;
  line-height: 2;
  margin: 0 auto 1em auto;
  text-shadow: none;
  text-align: center;

  .title_card__title {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
    line-height: inherit !important;
    text-shadow: inherit !important;
    border: 0;
  }
}


/*
/// ---
/// title: styled cards
/// section: components
/// ---
/// <div class="card card_style--flat">
///   <h2 class="card__title">Flat Styled Card</h2>
///   <div class="card__content">
///     <ul>
///       <li>List A</li>
///       <li>List B</li>
///       <li>List C</li>
///     </ul>
///   </div>
///   <div class="card__footer">
///     <p>Optional Footer</p>
///     <button>With Buttons</button>
///   </div>
/// </div>
/// ---
///
/// <div class="card__title-card">
///   <h2>Basic Title Card</h2>
/// </div>
*/


.card {
  @include card(0);
  display: inline-block;
  padding: 0em;
  &-wide { flex-direction: row; }
  &-tall { flex-direction: column; }

  .card__header {

  }
  .card__footer {
    padding: 0em 2em 1em 2em;
  }

  .card__content {
    padding: 1em 2em 1em 2em;
    color: inherit;
    font-weight: normal;
    line-height: 1.3;
    font-size: .9em;
  }

  &_style--flat {
    .card__title {
      box-shadow: none;
      background: transparent;
      position: relative;
      font-size: 1.8em;
      line-height: 1.3;
      padding: 0em;
      letter-spacing: -1px;
      margin: 0 auto 1em auto;
      text-shadow: none;
    }

    .card__content {
      padding: 1em 2em 1em 2em;
      color: inherit;
      font-weight: normal;
      line-height: 1.3;
      font-size: .9em;
    }



    h2, p  {
      font-size: inherit !important;
      font-weight: inherit !important;
      color: inherit !important;
      line-height: inherit !important;
      text-shadow: inherit !important;
    }

    button {
      @include z_depth("z2");
    }
  }
}
