
/*
///
/// # EXAMPLE HTML
/// ```
/// <div class="titlebar">
///   <div class="titlebar__marker"><i class="titlebar__icon icon--cursor"></i></div>
///   <h3 class="titlebar__title">Customer Care</h3>
/// </div>
/// ```
*/
.titlebar {
  background-color: #f2f2f2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titlebar__marker {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.6rem;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 3.2rem;
}

.titlebar__icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  height: 2rem;
  width: 2rem;
}

.titlebar__title {
  text-transform: uppercase;
  margin: 0 0 0 5rem;
  padding: 1em 0;
  font-size: 0.9em;
  font-weight: bold;
}

.controlbar {
  position: relative;
  right: 0;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex: 1 1 auto;
}

.controlbar__item {
  font-size: 0.9em;
  flex: 0 1 auto;
  margin: 0 0.9em;
  color: #4d4c4c;
}

.controlbar__item.active {
  color: #b92228;
  font-weight: bold;
}

.social-bar {
  height: 2rem;
}

.social-bar i.svg_icon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 2px;
  background-size: 65%;
}

.social-bar i.svg_icon:last-of-type {
  margin-right: 0;
}
