
  // END SLIDER BLOCK
#category-product-slider .slide-container  #slider_ts-storage.slider-block .slider-image::after { background-image: $slider_ts-storage; }
#category-product-slider .slide-container  #slider_dea-controlled.slider-block .slider-image::after { background-image: $slider_dea-controlled; }
#category-product-slider .slide-container  #slider_atf-explosives.slider-block .slider-image::after { background-image: $slider_atf-explosives; }
#category-product-slider .slide-container  #slider_osha-hazmat.slider-block .slider-image::after { background-image: $slider_osha-hazmat; }
#category-product-slider .slide-container  #slider_custom-design.slider-block .slider-image::after { background-image: $slider_custom-design; }
#category-product-slider .slide-container  #slider_consulting.slider-block .slider-image::after { background-image:  $slider_consulting ; }
#category-product-slider .slide-container  #slider_vaults-doors.slider-block .slider-image::after { background-image: $slider_vaults-doors; }
